
h1{
    text-align: center;
    font: bolder;
    text-decoration-line: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(226, 209, 235)
}

.container{
    background-color: rgb(167, 197, 186);
    width: 400px;
    height: 115px;
    margin:auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.marker{
    width: 200px;
    height: 25px;
    margin: 10px auto; 
}

.red{
    background-color: rgb(255, 0, 0);
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}