
h1{
    text-align: center;
    font: bolder;
    text-decoration-line: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    background-color: rgba(255, 255, 255);
    padding: 10px 0px;
}

.marker{
    width: 200px;
    height: 25px;
    margin: 10px auto; 
}

.red{
    background: linear-gradient(rgb(111, 31, 31), rgb(220, 125, 125), rgb(209, 54, 15));
    box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.8);
}

.green{
    background: linear-gradient(#A5FF09, #AAFF00, #00FF00);
    box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.8);
}

.blue{
    background: linear-gradient(hsl(200, 100%, 50%), hsl(180, 100%, 50%), hsl(220, 100%, 50%));
    box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.8);
}
